/* Table of Contents
______________________________________
-General
-Opening Intro Text
-Typography
-Header and Navigation
-Images and Media
-Footer
-Media Queries
______________________________________ */

/* General
______________________________________ */
.containerLP {
  list-style: none;
  background: none;
  text-align: center;
  margin-top: 6em;
}

body {
  overflow-x: hidden !important;
}

/* Animations
______________________________________ */


.fadeIn{
  display: inline;
	text-indent: 8px;
}
.fadeIn span{
	animation: fadeEffect 7.5s linear infinite 0s;
	-ms-animation: fadeEffect 7.5s linear infinite 0s;
  -webkit-animation: fadeEffect 7.5s linear infinite 0s;
  color: rgb(196, 66, 66);
  opacity: 0;
  margin-left: 2.5%;
	overflow: hidden;
	position: absolute;
}
.fadeIn span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  color: rgb(57, 161, 202);
}
.fadeIn span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  color: rgb(160, 238, 144);
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


/* Opening Intro Text
______________________________________ */

.tagline {
  font-family: 'Righteous', sans-serif;
  font-size: 5vw;
  text-align: center;
  color:  rgb(252, 137, 137);
  /* margin-top: 30%; */
  position: relative;
  z-index: 2;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.intro {
  overflow: hidden;
}
#intronameline {
  visibility: hidden;
  position: relative;
  display: inline;
  text-align: left;
  line-height: 1;
  font-size: 5vw;
  transform: translateY(0vh);
  z-index: 1;
  color: white;
  width: 100%;
}

#intronameline.active {
  animation: appear 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  visibility: visible;
}

@keyframes appear {
  0%{
    opacity: 0;
    color: white;
  }
  100%{
    opacity: 1;
    color: white;
  }
}

#introname{
  visibility: hidden;
  position: relative;
  display: inline;
  text-align: left;
  line-height: 1;
  font-size: 7vw;
  transform: translateY(0vh);
  z-index: 1;
	color: transparent;
  width: 100%;
}

#introname.active {
  visibility: visible;
  animation: appear1 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes appear1 {
  0%{
    opacity: 0;
    color: rgb(252, 137, 137);
  }
  100%{
    opacity: 1;
    color: rgb(252, 137, 137);
  }
}

#introroles {
  position: relative;
  display: block;
  margin-left: -30%;
  line-height: 1;
  font-size: 15vw;
  transform: translateY(0vh);
  z-index: 1;
  color: white;
  width: 100%;
}

#roles {
  visibility: hidden;
}
#roles.active{
  visibility: hidden;
  animation: appear3 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  color: black;
}

@keyframes appear3 {
  0%{
    opacity: 0;
    visibility: visible;
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

#introp1 {
  visibility: hidden;
  position: relative;
  display: inline;
  text-align: left;
  line-height: 1;
  font-size: 5vw;
  transform: translateY(0vh);
  z-index: 1;
  color: transparent;
  width: 100%;
}

#introp1.active {
  animation: appear 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  visibility: visible;
}

@keyframes appear {
  0%{
    opacity: 0;
    color: white;
  }
  100%{
    opacity: 1;
    color: white;
  }
}

/* Typography
______________________________________ */





/* Resume Button
______________________________________ */

#resume {
  align-items: center;
  margin: 1% auto;
  text-align: center; 
  visibility: hidden;
  color: transparent;
}

#resume.active a{
  visibility: visible;
  animation: fadeInResume 2s;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transition: ease-in;
  }
  
  @keyframes fadeInResume {
    0%{
      opacity: 0;
      color: white;
      border-color: white;
    }
    100% {
      opacity: 1;
      color: white;
      border-color: rgb(220, 189, 164);
    }
  }

#resume.active a{
  font-size: 4vw;
  color: transparent;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 3vw;
  padding: 0px 1vw 0px 1vw; 
  margin:0;
  opacity: 100;
  -webkit-transition: ease-in-out 1s;

}

#resume a:hover {
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  -webkit-transition: ease-in-out 0.5s;
}


/* Get in touch button
______________________________________ */

.getintouch {
  align-items: center;
  margin: 1% auto;
  text-align: center; 
  color: white;
}

.getintouch a{
  visibility: visible;
  transition: ease-in;
  font-size: 4vw;
  color: white;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 0.3vw;
  border-radius: 3vw;
  padding: 0px 1vw 0px 1vw; 
  margin:0;
  opacity: 100;
  -webkit-transition: ease-in-out 1s;
  }
  


.getintouch a:hover {
  background-color: rgb(255, 255, 255, 1);
  color: black;
  -webkit-transition: ease-in-out 0.5s;
}


/* Hamburger Menu
_____________________________________ */


/* Images and Media
______________________________________ */

.introvid{
position: relative;
z-index: -1;
width: 100vw;
}


.introbgimage{
  background-image: url(/images/webpic2.JPG);
  position: relative;
  float: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  opacity: 0;

}

.introbgimage.active{
  animation: fadeInBackground 3s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




/* Footer
______________________________________ */


/* Media Queries
______________________________________ */
