/* Table of Contents
______________________________________
-General
-Opening Intro Text
-Typography
-Header and Navigation
-Images and Media
-Footer
-Media Queries
______________________________________ */

/* General
______________________________________ */
.containerLP {
  list-style: none;
  background: none;
  text-align: center;
  margin-top: 6em;
}


/* Opening Intro Text
______________________________________ */



body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#introtext {
  position: relative;
  display: block;
  text-align: center;
	margin: 0;
  line-height: 1;
  font-size: 15vw;
  transform: translateY(10vh);
  z-index: 1;
  color: white;
  width: 100%;
}

#introtext.active {
  animation: up 1s forwards;
  animation-timing-function: ease-in-out;
  
}

#introtext1 {
  position: relative;
  display: block;
  text-align: center;
	margin: 0;
	line-height: 1;
  transform: translateY(10vh);
  z-index: 1;
  font-size: 5vw;
  color: white;
  width: 100%;
}

#introtext1.active {
  animation: up 1s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  
}

#introtext2 {
  position: relative;
  display: block;
  text-align: center;
	margin: 0;
	line-height: 1;
  transform: translateY(10vh);
  z-index: 1;
  font-size: 3vw;
  color: white;
  width: 100%;
}

#introtext2.active {
  animation: up 1s forwards;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  
}


@keyframes up {
  0%{
    transform: translateY(9);
  }
  100%{
    transform: translateY(0);
  }
}

.constructionarrow {
  color: white;
  font-size: 10vw;
  background: transparent;
  border: none;
  top: 5%;
  transition: ease-in-out 1s;
  animation: arrowanimate 3s forwards;
  animation-name: arrowanimate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrowanimate {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 100;
  }
  100%{
    opacity: 0;
  }
}

/* Typography
______________________________________ */


/* Header and Navigation
______________________________________ */


/* Hamburger Menu
_____________________________________ */


/* Images and Media
______________________________________ */


/* Footer
______________________________________ */


/* Media Queries
______________________________________ */
