/* Table of Contents
______________________________________
-General Content
-Typography
-Header and Navigation
-Images and Media
-Footer
-Media Queries
______________________________________ */

/* General Content
______________________________________ */
html{
  background-color: black;
}

.main{padding-top: 0%; background-color: transparent;}
.row{padding: 2% 0; background-color: transparent;}

/* Typography
______________________________________ */
body {
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  color:#000;
}

h2 {
  font-family: 'Poppins';
  font-size: 3em;
  margin: 0.67em;
}

.containerLP {
  list-style: none;
  background: none;
  text-align: center;
  margin-top: 6em;
}


/* Header and Navigation
______________________________________ */
header.main_nav {
  display: block;
  color: transparent;
}

#navbar{
  text-align: center;
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: ease-in-out 0.5s;
  margin-top: -30px;
  /*padding-left: 1.5em;*/
}

.nav li{
  display: inline-block;
}

li.subheads a{
  text-decoration: none;
  color: white;
  padding: 2rem;
  font-size: 2.25rem;
  transition: 0.5s;
}

li.subheads a:hover{
  font-size: 3rem;
}

.logo {
  display: inline-block;
  margin: 1% auto;
  text-align: center;
}

.logo a{
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
  border-style: solid;
  border-color: white;
  border-radius: 0.25em;
  padding: 0px 2rem 0px 2rem;
  margin:0;
  opacity: 100;
  -webkit-transition: ease-in 1s;

}

.logo a:hover {
  background-color: white;
  color: black;
  -webkit-transition: ease-out 0.5s;
}


/* Hamburger Menu
_____________________________________ */

#hamicon {
  background: transparent;
  visibility: hidden;
  border: none;
  z-index: 100; 
  position: absolute;
  top: 3%;
  left: 85%;
  padding:15px;

}

#hamicon .line {
  background: rgb(231, 231, 231);
	width: 2em;
	height: 0.15em;
	position: absolute;
	left: 0;
	border-radius: 0.1em;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  z-index: 100;
}

#hamicon .line.line-1 {
	top: 0;
}

#hamicon .line.line-2 {
	top: 50%;
}

#hamicon .line.line-3 {
  top: 100%;
}

#hamicon:hover .line, #hamburger-icon:focus .line {
	background: #fff;
}

#hamicon.active .line-1 {
	transform: translateY(0.75em) translateX(0) rotate(45deg);
	-webkit-transform: translateY(0.75em) translateX(0) rotate(45deg);
  -moz-transform: translateY(0.75em) translateX(0) rotate(45deg);
  background-color: black;
}

#hamicon.active .line-2 {
	opacity: 0;
}

#hamicon.active .line-3 {
	transform: translateY(-0.75em) translateX(0) rotate(-45deg);
	-webkit-transform: translateY(-0.75em) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-0.75em) translateX(0) rotate(-45deg);
  background-color: black;
}

#hamenuitems {
  visibility: hidden;
  min-height: 100vmax;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
  overflow:auto;
  z-index:99;
  transition: ease-in-out 1s;
	-webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
}

#hamenuitems.active {  

  visibility: visible;
  background: rgb(100%,100%,100%, 1);
}

.hamsubmenu {  
  visibility: hidden;
  text-decoration: none;
  padding: 2rem;
  font-size: 2.25rem;
  color: black;
  transition: ease-in-out 0.5s;
	-webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  
}

.hamsubmenu.active {
  visibility: visible;
}

@media screen and (max-width: 940px) {
  li.subheads a {
    position: fixed;
    bottom: -1000px;

  }

  .logo a{
    font-size: 2em;
    position: absolute;
    top: 1%;
    left: 5%;
    
  }
  #hamicon {
    visibility: visible;
  }
}

/* Images and Media
______________________________________ */

.bg-img {
  background-image: url("/images/webpic3.JPG");
  position: absolute;
  /* The image used */
  top:0;
  bottom:0;
  right:0;
  left:0;
  /*Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  z-index: -1;
}
img {
  max-width: 100%;
}
img.avatar {
  border-radius: 400px;
  border: 4px solid #fff;
}
img:hover {
  opacity:0.8;
}


/* Footer
______________________________________ */

footer{
  z-index: 99;
}
ul.social {
  display: inline-flexbox;
  margin-left: 0;
  list-style-type: none;
  text-align: center;
  padding-bottom: -2rem;
}

ul.social li {
  font-size: 1em;
  display: inline;
  padding: 1%;


}

ul.social li a {
  padding: -10% 0 -20% 0;
  color:white;
  transition: ease-in 1s;
  -webkit-transition: ease-in 1s;

}

ul.social li.facebook a:hover{color:rgb(59,89,152);  -webkit-transition: ease-out 0.5s;}
ul.social li.twitter a:hover{color:rgb(0,172,237);  -webkit-transition: ease-out 0.5s;}
ul.social li.instagram a:hover{color:rgb(81,127,237);  -webkit-transition: ease-out 0.5s;}
ul.social li.youtube a:hover{color:rgb(187,0,0);  -webkit-transition: ease-out 0.5s;}
ul.social li.github a:hover{color:rgb(150, 3, 3);  -webkit-transition: ease-out 0.5s;}
ul.social li.linkedin a:hover{color:rgb(0,123,182);  -webkit-transition: ease-out 0.5s;}


p.copyright {
  text-align: center;
  color: white;
  font-size: 0.5em;
  margin-top: -10px;
}
/* Media Queries
______________________________________ */
